.upperFooterDiv {
  width: 100%;
}
.footer-form {
  width: 100%;
  padding: 5px 10px;
}
.email-field {
  width: 80%;
}
.email-field:focus {
  box-shadow: none !important;
  outline: none;
}
.email-btn {
  width: 15%;
}
.footer-list {
  list-style-type: none;
  padding-left: 0;
}
.footer-list > li {
  font-weight: 600;
  margin-top: 20px;
}
li:hover {
  color: #00e6e6;
}
.footerIcon {
  font-size: 1.2em;
}
.iconDiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  background-color: #00e6e6;
  color: white;
}

.iconDiv:hover {
  background-color: white;
  border: #00e6e6;
  color: #464344;
  border: 1px solid #00e6e6;
  transition: 0.5s;
}
.lowerFooterDiv {
  width: 100%;
  height: 120px;
  background-color: #00e6e6 !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(46, 45, 45);
  padding-top: 45px;
}

.footerLink {
  text-decoration: none;
  color: black;
}
.footerLink:hover {
  color: #00e6e6;
}
